# DO NOT ADD API KEYS HERE. 
# Add them in .env file instead.

# API PROVIDERS
OPENAI_API_KEY=
GROQ_API_KEY=
TOGETHER_API_KEY= 
ANYSCALE_API_KEY=
DEEPINFRA_API_KEY=
OPENROUTER_API_KEY=
MONSTER_API_KEY=
ANTHROPIC_API_KEY=

# RATE LIMITS
MAX_REQUESTS_PER_MINUTE=
MAX_TOKENS_PER_MINUTE=

# PROJECT NAME
PROJECT_NAME=